<footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">Acerca De</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="./Aviso.pdf">Aviso De Privacidad</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="https://drive.google.com/open?id=1xA34JkOsysVsKWuh3KobCafj-noXKZnmZlNzkTEtpEQ">Encuesta de Satisfacción</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; EYE, MeetU 2019</p>
          <p class="text-muted small mb-4 mb-lg-0">MeetU fue desarrollada por y para alumnos del CECyT9, esperamos disfruten nuestro regalo</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://web.facebook.com/EYE2019/">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="https://twitter.com/EYE_MeetU">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/eye_meet_u/?hl=es-la">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.ipn.mx/">
                <img class="img-fluid" src="./img/IPN.png" style="width: 5rem;" alt="">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.cecyt9.ipn.mx/">
                <img class="img-fluid" src="./img/CC9.png" style="width: 4rem;" alt="">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.cecyt9.ipn.mx/oferta-educativa/ver-carrera.html?lg=es&id=14">
                <img class="img-fluid" src="./img/LP.png" style="width: 3rem;" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>