<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Meet U</title>
  <link rel="shortcut icon" type="image/x-icon" href="./img/MeetULogo.png" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <!-- Bootstrap core CSS -->
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="./vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="./css/landing-page.min.css" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151120937-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151120937-1');
  </script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top mb-0">
    <div class="container">
      <a class="navbar-brand" href="/"><img class="img-fluid" src="./img/IPN.png" style="width: 2.5rem; margin-right: .8rem;" alt=""> Meet U  <img class="img-fluid" src="./img/CC9.png" style="width: 2rem; margin-left: 1rem;" alt=""></a>
      <a class="btn btn-warning" href="https://web.facebook.com/EYE2019/">Aprende más sobre Meet U </a>
    </div>
  </nav>
