
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top mb-0">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="img-fluid" src="./img/IPN.png" style="width: 2.5rem; margin-right: .8rem;" alt=""> Meet U  <img class="img-fluid" src="./img/CC9.png" style="width: 2rem; margin-left: 1rem;" alt=""></a>
        <a class="btn btn-warning" href="https://web.facebook.com/EYE2019/">Aprende más sobre Meet U </a>
    </div>
  </nav>